@media (pointer:none), (pointer:coarse) {
    .mapouter, .gmap_canvas {
        height:380px !important;
    }
    
    #ftco-nav {
        background-color: white;
    }
    #ftco-nav > ul >li {
        padding-left: 30px;
    }
    #discount_div{
        height: 400px !important;
    }
    #spettacoli_section {
        padding-bottom: 0px;
    }
}

.flex_center {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
}

#maestri_div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

.work-entry .info {
    opacity: 1;
}

.appointment-info a{
    color:white;
}

.ftco-appointment .overlay {
    background: #EC4E27;
}

.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #EC4E27 !important ;     
}

a {
    color: #EC4E27 ;
}

.ftco-footer {
    padding: 60px;
}

.hero-wrap .overlay{
    opacity: .25;
}

.ftco-discount .overlay {
    opacity: .20;
}

.text_shadow{
    text-shadow: 1px 1px #ff0000;
}

.pt-3, .py-3{
    padding-top: 8px !important;
}

/* quadrati balli*/
.col-md-4 {
    padding: 5px;
}

#discount_div{
    height: 560px;
}

/* Maps */
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}

.googleCalendar{
    position: relative;
    height: 400px;
    width: 100%;
    padding-bottom: 50%;
  }
  
  .googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

