/*	
Side Navigation Menu V2, RWD
===================
License:
https://goo.gl/EaUPrt
===================
Author: @PableraShow

*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.blue { color: #185875; }
.yellow { color: #E869D7; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #353535;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
}

.container th {
    background-color: rgb(223, 223, 223);
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
    background-color: rgb(210, 212, 216);
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #E869D7;
    color: #403E10;
    font-weight: bold;
    
    box-shadow: #c45ab6 -1px 1px, #c45ab6 -2px 2px, #c45ab6 -3px 3px, #c45ab6 -4px 4px, #c45ab6 -5px 5px, #c45ab6 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}