@import "tailwindcss";

@theme {
  --color-tango-red: #9f1239;
  --color-tango-dark: #1d1d1f;
  --color-tango-gray: #86868b;
  --color-tango-light: #f5f5f7;

  --font-sans: Inter, sans-serif;

  --shadow-apple: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  --shadow-apple-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}
